accelerate==0.34.2
    # via imaginAIry (setup.py)
annotated-types==0.7.0
    # via pydantic
antlr4-python3-runtime==4.9.3
    # via omegaconf
anyio==4.6.0
    # via
    #   httpx
    #   starlette
babel==2.16.0
    # via mkdocs-material
build==1.2.2
    # via pip-tools
certifi==2024.8.30
    # via
    #   httpcore
    #   httpx
    #   requests
charset-normalizer==3.3.2
    # via requests
click==8.1.7
    # via
    #   click-help-colors
    #   click-shell
    #   imaginAIry (setup.py)
    #   mkdocs
    #   mkdocs-click
    #   mkdocstrings
    #   pip-tools
    #   uvicorn
click-help-colors==0.9.4
    # via imaginAIry (setup.py)
click-shell==2.1
    # via imaginAIry (setup.py)
colorama==0.4.6
    # via
    #   griffe
    #   mkdocs-material
coverage==7.6.1
    # via -r requirements-dev.in
diffusers==0.30.3
    # via imaginAIry (setup.py)
einops==0.8.0
    # via
    #   imaginAIry (setup.py)
    #   spandrel
exceptiongroup==1.2.2
    # via
    #   anyio
    #   pytest
fastapi==0.115.0
    # via imaginAIry (setup.py)
filelock==3.16.1
    # via
    #   diffusers
    #   huggingface-hub
    #   torch
    #   transformers
fsspec==2024.9.0
    # via
    #   huggingface-hub
    #   torch
ftfy==6.2.3
    # via
    #   imaginAIry (setup.py)
    #   open-clip-torch
